html, body {
  margin: 0;
  padding: 0;
  background-color: #CFD8DC;
}
body{
  width: 60vw;
  display:grid;
  margin:auto;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
  "photo header"
  "aside contenu";
}
/* Mise en place grid */
#photo{
  grid-area: photo;
}
#titreNom {
  grid-area: header;
}
#sideBar {
  grid-area:aside;
}
#contenuCV {
  grid-area: contenu;
}
@font-face {
  font-family: 'PoliceCV';
  src:url('abel-regular.ttf');
}
*
{
  font-family: "PoliceCV", Arial, serif;
}
a {
  color:blue;
  text-decoration: none;
}

/* -------------------------------- Gestion des blocs ----------------- */
.contenant, .header{
  width: 100%;
  margin:auto;
}
.side-bar{
  background-color: #90CAF9;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
.main-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
}
/* ----------------------------------- Side-bar ---------------------------*/
.photo img {
  border-radius: 100%;
  margin: auto;
}
.side-bar h2{
  background-color: #424242;
  color: #90CAF9;
  text-align: center;
}

.loisirs {
  margin-top : auto;
  text-align: center;
}
.loisirs img {
  width: 3rem;
  height: 3rem;
}
.apropos p{
  text-align: justify;
  padding-left: 2rem;
  padding-right: 2rem;
}
.contact p{
  padding-left: 2rem;
  padding-right: 1rem;
  font-style: normal;
}
.contact h2, .apropos h2
{
  padding-left:0;
  font-style: normal;
}

/* ------------------------------------ Main-content -------------------- */
.main-content h1{
  font-size:3rem;
}
.nom {
  color: #90CAF9;
}

.underline {
  text-decoration: underline;
  text-decoration-color: #90CAF9;
}
.main-content p,ul {
  font-size: 0.9rem;
}
.situation {
  font-weight: bold;
  font-size: 1.5rem;
}
.titrePoste{
  font-size: 1.3rem;
  font-weight: bold;
}
.main-content h2 {
  border-bottom : 2px solid #90CAF9;
}
.titre-formation:after {
  content: "\f19d";
  color: black;
  font-family: FontAwesome;
  position: absolute;
  left:0;
}
.titre-experience:after {
  content: "\f5c1";
  color: black;
  font-family: FontAwesome;
  position: absolute;
  left:0;
}
.titre-recommandations:before {
  content: "\f303";
  color: black;
  font-family: FontAwesome;
  position: absolute;
  left:0;
}
.titre-formation, .titre-experience, .titre-recommandations {
  background-repeat: no-repeat;
  background-position: left;
  background-size: 2rem;
  font-size: 2rem;
  padding-left: 3rem;
  position: relative;
  margin-bottom:0px;
}
.formation div, .experience div {
  display: flex;
  padding-top:0;
}
.enTete{
  flex:2;
  align-items: center;
  font-weight: bold;
}
.enTete p {
  display:inline;
  margin-bottom: auto;
}
.description {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex:4;
}
.description p{
  line-height: 1.5rem;
}
.recommandations {
  display: flex;
  justify-content: space-between;
}
.liActuel,.liNormal {
  list-style: none;
}
.liActuel:before{
  font-family: 'FontAwesome';
  content: '\f192';
  color: #90CAF9;
  position:relative;
  left:-1.5rem;
  top:2.2rem;
}
.liNormal::before {
  content: "•";
  color: #90CAF9;
  position:relative;
  left:-1.5rem;
  top:2.2rem;
}

/* --------------------------------------- Responsive ---------------------------------*/
@media all and (max-width: 1050px)
{
  body {
    display:flex;
    flex-direction: column;
    width: 100%;
  }
  .photo{
    padding-top:1rem;
  }
  .contenant, .header{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .main-content h1,.situation {
    text-align: center;
  }
  #titreNom{
    order: 1;
    padding-top: 1rem;
  }
  #photo{
    order: 2;
  }
  #contenuCV{
    order:3;
  }
  #sideBar {
    order: 4;
  }
  .apropos {
    order:1;
  }
  .loisirs{
    order:2;
  }
  .contact{
    order:3;
  }
  .contactBlock {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .liNormal div, .liActuel div {
    flex-direction: column;
    align-items: flex-start;
  }
  .recommandations {
    flex-direction: column;
  }
  .titre-recommandations {
    font-size: 1.7rem;
  }
}
